---
layout: 'layout'
---
#einfachming
  %img{height: '210', src: '/images/einfachming.png', width: '180'}/
#definition
  %p.intro<>
    = link_to 'sieben.html' do
      %sup 7
    = succeed ':' do
      = link_to 'einfachming', '/willkommen.html'
    ein|fach ming,
    %em -das,
    Büro für Kommunikation in Zürich/Schweiz, bietet
    = link_to 'Unternehmen und Organisationen', '/kunden.html'
    umfassende
    = link_to 'Dienstleistungen', '/dienstleistungen.html'
    im Bereich Kommunikation und Medienarbeit, Inhaberin ist
    = succeed '.' do
      = link_to 'Nicole Ming', '/portrait.html'
